<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Please Log In First</h1>
    <button type="button" onclick="window.location.href='/'">Home</button><br>
    <% if(errors) {  %>
            <p style="color: red;"><%= errors  %></p>
    <% } %>
    <form action="/login" method="post">
        <p>
            <label>Email</label><br>
            <input type="text" name="email">
        </p>
        <p>
            <label>Password</label><br>
            <input type="text" name="password">
        </p>
        <p>
            <input type="submit" value="Login">
        </p>
    </form>

    <button type="button" onclick="window.location.href='/register'">Register</button><br>
</body>
</html>